<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Fastify • TodoMVC</title>
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link href="/css/tailwind.css" rel="stylesheet">

  </head>



    <body >
     
        <main>
          <!-- Inject page content here -->
          <%- body %>
        </main>
      </div>
   
      <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.10.5/dist/cdn.min.js" defer></script>

  </body>
</html>
