<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Fastify • TodoMVC</title>
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <header>
      <h1>My Fastify PUBLIC</h1>
      <nav>
        <a href="/">Home</a>
      </nav>
    </header>

    <main>
      <!-- Inject page content here -->
      <%- body %>
    </main>

    <footer>
      <p>&copy; 2024 Fastify App</p>
    </footer>
  </body>
</html>
